{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**/*.{wxml,axml}"],
      "options": { "parser": "html" }
    },
    {
      "files": ["**/*.{wxs,sjs}"],
      "options": { "parser": "babel" }
    }
  ]
}
